*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header{
    padding-bottom: 5px;
    padding-top: 5px;
}

.name-top{
    text-align: center;
    margin-right: 280px;
    margin-top: 5px;
    padding-bottom: 5px;
    font-size: 20px;
    font-family: 'Martian Mono', sans-serif;   
    color: white;
    text-shadow:3px 2px 1px #442f55;                                         
}

body{
    background-color: #1D1D1D;
}

main{
    text-align: center;
    margin-top: 100px;
    font-size: 40px;
    color: white;
    text-shadow:3px 2px 1px #442f55;
}